<hibernate-configuration>
    <session-factory>


        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql ">true</property>
        <mapping class="home.Magic" />

    </session-factory>
</hibernate-configuration>